<p>Reminisce is a free, open-source Rust library for detecting and interacting with
gamepads.</p>

<h1>Supported Platforms</h1>
<ul>
    <li>Linux (using joystick API or SDL)</li>
    <li>Windows (using XInput or SDL)</li>
    <li>Emscripten (when support arrives it should work out of the box)</li>
</ul>

<h1>Features</h1>
<ul>
    <li>Events for axis and button movement</li>
    <li>Every joystick can have its events processed internally into its state by
    using the StatefulJoystick API</li>
    <li>Iterator API for easy event detection</li>
</ul>
